<h2>Edit blog post</h2>
<%= form_for @post, url:post_path do |f| %>
  <%= f.label :post_title %>:
  <%= f.text_field :post_title %><br />

  <%= f.label :post_content %>:
  <%= f.text_area :post_content %><br />

  <%= f.submit %>
<% end %>
